[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 15.0

[submodule "ingadhoc/multi-store"]
	path = ingadhoc/multi-store
	url = git@github.com:ingadhoc/multi-store.git
	branch = 15.0
